{{define "footer"}}
<footer>
    <p>este es el pie de pagina</p>
</footer>
{{end}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>metodos</p>

{{ .TienePermisos}}
<hr>
<!--este es la funcion observar que no lleva punto al inicio-->
{{funcionsimple}}

<p>El resultado es : {{suma 20 50}}</p> <!--aqui le tenemos que pasar los parametros-->

<!--aqui le estamos pasando un parametro-->
{{if .Esadministrador "si"}}
    <p>eres administrador</p>
{{end}}  <!--tener cuidado con el end-->


{{template "footer"}}  
</body>
</html>